.formcomponents {
  float: right;
  /* display: none; */
  transform: translateX(+100px);
  opacity: 0;
  transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
}

.displayToggle {
  display: block !important;
}

.accordion.panel-group {
  margin-top: auto !important;
}

.panel-default {
  border-color: #fff;
}

.panel-default > .panel-heading {
  border-color: #fff;
  background: #e6e6e6;
}

.builder-group-button {
  background: none;
  color: #000;
}

#builder {
  display: flex;
  flex-direction: row-reverse;
}

.formcomponents .formcomponent {
  padding: 15px 20px;
  background-color: #607d8b;
}

.panel-title {
  height: 56px !important;
}
.ace_editor {
  flex: none !important;
}

.bbs-editor-list {
  display: none;
}
.css-studio-classes {
  position: absolute;
  bottom: 0;
}

.css-studio-custom-class {
  right: 0;
}

.css-studio-add-class {
  left: 0;
}

.preview-area-item {
  border: 0.5px dashed #face20;
}
/* .bootstrap-tagsinput {
        display: none !important;
    } */
.head-btn > .form-control {
  width: 20%;
}
.code-head {
  background-color: #3d3d3d;
  padding: 4px;
}
.tree-container.full-code-editor {
  height: calc(100% - 20px);
}
.assets-area .card {
  border: none;
}
.assets-area .card-header {
  background: #1c1c1c;
  align-items: center;
}
.assets-area .card-header a {
  color: white;
  text-decoration: none;
}
.assets-area .card-body {
  background-color: #292929;
  border-radius: 0;
  color: white;
}
.assets-area .inside-panel {
  width: 90%;
  margin-left: auto;
}

.nav-tabs {
  border-bottom: 0 !important;
}

/* .ui-state-hover {
  border: 1px dashed red;
} */

.jsPanel {
  display: none;
}
.jsPanel-btn-minimize {
  display: none !important;
}
ul {
  list-style: none;
}

.function-tab-item {
  /*width: 200px;*/
  /*height: 200px;*/
  padding: 0;
  border: 1px solid #000;
}

.function-tab {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 200px;
  background-color: #a9a9a9;
  border-top: 2px solid #000;
  overflow: auto;
}

#functions {
  display: none !important;
}
.tree-list-functions {
  background-color: #5d5d5d;
  z-index: 1;
}
.tree-list-functions.list-height {
  height: calc(100% - 200px);
  overflow: auto;
  padding: 0;
}

.function-tab-item-section .buttons,
.function-tab-item-options .buttons {
  display: flex;
}
.function-tab-item-section .buttons > button,
.function-tab-item-options .buttons > button {
  flex: auto;
  border-radius: 0;
}
.function-tab-item-section input,
.function-tab-item-options input {
  border-radius: 0;
}
.function-tab-item-section > div,
.function-tab-item-options > div {
  margin-bottom: 7px;
}
.function-tab-item > p {
  background-color: #000;
  color: white;
  padding: 10px 15px;
  margin: 0;
}
.function-tab-item-connections > ol {
  padding-left: 20px;
}
.function-tab button {
  border-radius: 0;
}
.preview-area-selected {
  position: absolute;
  border: 1px dashed red;
  z-index: 10;
  display: none;
  pointer-events: none;
}
.dnd-test {
  color: white;
  font-size: 25px;
  background: red;
  z-index: 9999;
  display: inline-block;
}
.dnd-html-item {
  display: inline-block;
  padding: 5px;
  background-color: #face20;
  margin: 5px;
  border-radius: 15%;
}
.preview-area-selected-edit {
  pointer-events: auto !important;
}

.ui-state-hover {
  /* outline: 1px dashed #c0c0c0; */
  /* position: relative; */
  background-color: none;
  background: none;
  margin: 5px;
}

/* .ui-state-hover::after {
  content: "Drop Here";
  color: #bdbdbd;
  position: absolute;
  /* width: 100%; */
/* height: 100%; */
/* text-align: center;
  line-height: ;
  font-size: 12px;
} */
/* 
.highlight {
  border: 1px solid yellow;
}

.ui-droppable-hover {
  position: relative;

  /* border: 2px solid yellow; */
/* } */

/* .ui-droppable-hover::after {
  content: "Drop Here";
  color: #bdbdbd;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 12px;
  display: block;
  border-bottom: 6px solid lightslategray;
  border-radius: 10%;
}

.ui-droppable-hover::before {
  position: absolute;
  width: 100%;
  border: 1px solid red;
} */
/* .ui-droppable-active {
  margin: 5px;
} */
.ankap-mi-ban {
  display: block;
  margin-top: 15px;
  margin-bottom: 25px;
  border-bottom: 5px solid red;
  position: relative;
}

.ankap-mi-ban::after {
  position: absolute;
  width: 100%;
  content: "Drop here";
  font-size: 15px;
  text-align: center;
  font-weight: normal;
  line-height: 25px;
  left: 0;
  right: 0;
  bottom: 0;
}
.ui-droppable {
  position: relative;
}
