
.profiles-navbar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
}

.profiles-navbar a {
    text-decoration: none;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.profiles-navbar i {
    font-size: 26px;
}

.profile-footer .left {
    display: none;
    flex: auto;
    /*padding: 10px 0px 10px 15px;*/
    border-right: 2px solid #fff;
    background-color: #272727;
    padding-left: 15px;
}
.profile-footer .left .create{
    align-self: stretch;
}
.profile-footer .left .create .heart{
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    margin-left:15px;
}
.profile-footer .left .create .add-icon i{
    color: #d0543a;
}
.profile-footer .left .create .heart.bg_dark{
    background-color: #303030;
}
.profile-footer .left .create .name {
    margin: 0 67px 0 25px;
    font-size: 24px;
}

.profile-footer .left .logo-name {
    font-size: 27px;
    align-self: stretch;
    display: flex;
    cursor: pointer;
}
.profile-footer .left .logo-name>div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}
.profile-footer .left .logo-name.bg_dark>div {
    background: #d44043;
    background: -moz-linear-gradient(left, #d44043 1%, #dd743a 100%);
    background: -webkit-linear-gradient(left, #d44043 1%,#dd743a 100%);
    background: linear-gradient(to right, #d44043 1%,#dd743a 100%);
    border-radius: 50%;
}
.profile-footer .left .logo-name.bg_dark .white-logo{
    display: block;
}
.profile-footer .left .logo-name.bg_dark .black-logo{
    display: none;
}
.profile-footer .left .logo-name .name {
    font-size: 27px;
    margin: 0 28px 0 20px;
}

.profile-footer .left .logo-name img {
    height: 51px;
    width: 46px;
    object-fit: cover;
}
.profile-footer .left .logo-name img.white-logo {
    display: none;
}

.profile-footer .left .icons a {
    margin-right: 30px;
    display: block;
    color: white;
}

.profile-footer .left .icons a.message {
    position: relative;
}

.profile-footer .left .icons a.message span {
    background: #d44043;
    background: -moz-linear-gradient(left, #d44043 1%, #dd743a 100%);
    background: -webkit-linear-gradient(left, #d44043 1%,#dd743a 100%);
    background: linear-gradient(to right, #d44043 1%,#dd743a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d44043', endColorstr='#dd743a',GradientType=1 );
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 22px;
    color: #000;
}

.profile-footer .left .icons i {
    font-size: 32px;
}

.profile-footer.logged-in .right {
    background: #d44043;
    background: -moz-linear-gradient(left, #d44043 1%, #dd743a 100%);
    background: -webkit-linear-gradient(left, #d44043 1%,#dd743a 100%);
    background: linear-gradient(to right, #d44043 1%,#dd743a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d44043', endColorstr='#dd743a',GradientType=1 );
}

.profile-footer.logged-in .right .image {
    margin: 0 12px;
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin-left:0;
}

.profile-footer.logged-in .right .image img {
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.profile-footer.logged-in .right .icon {
    padding: 0 10px;
    align-self: stretch;
    border-left: 2px solid #fff;
    cursor: pointer;
}

.profile-footer.logged-in .right .icon i {
    font-size: 42px;
}

.profile-footer.logged-in .right .name-user {
    background-color: #434343;
    align-self: stretch;
    padding: 0 40px;
    font-size: 22px;
    border-radius: 0 0 0 8px;
    display: none;
}

.profile-footer.logged-in .border-none {
    border: none;
}

.profile-footer.logged-in .right.show {
    background-color: #434343;
    position: relative;
}

.profile-footer.logged-in .right .dropdown-menu {
    background-color: #434343;
    border-radius: 3px 3px 0 0;
    border: 2px solid #434343;
    border-bottom: 2px solid #000;
    right: -5px !important;
    left: 5px !important;
}

.profile-footer.logged-in .right .dropdown-menu .dropdown-item {
    font-size: 19px;
    color: white;
    padding: .85rem 2.5rem;
}

.profile-footer.logged-in .right .dropdown-menu .dropdown-item:hover, .profile-footer.logged-in .right .dropdown-menu .dropdown-item:focus {
    background: none;
    font-weight: bold;
}

.profiles-navbar .footerTabs ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.profiles-navbar .footerTabs {
    display: none;
    box-shadow: 0 -2px 3px -1px #0000006b;
}

.profiles-navbar .footerTabs .nav-tabs.left {
    background-color: #3f3f3f;
    border-radius: 0;
    border: none;
}.profiles-navbar .footerTabs .nav-tabs.left>div:first-of-type {
     flex: auto;
     margin: 0;
 }

.profiles-navbar .footerTabs .nav-tabs.left .nav-item {
    margin: 0;
    padding: 0;
}

.profiles-navbar .footerTabs .nav-tabs.left .nav-item a {
    border-radius: 0;
    font-size: 22px;
    position: relative;
    color: white;
    padding: 16px 0;
    border: none;
    opacity: 0.7;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #505050;
    border-left: 1px solid #000;
}



.profiles-navbar .footerTabs .nav-tabs.left .nav-item a.active {
    background: #3a5fa3;
    background: -moz-linear-gradient(-45deg, #3a5fa3 0%, #30a9bb 100%);
    background: -webkit-linear-gradient(-45deg, #3a5fa3 0%,#30a9bb 100%);
    background: linear-gradient(135deg, #3a5fa3 0%,#30a9bb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a5fa3', endColorstr='#30a9bb',GradientType=1 );
    color: white;
    border: none;
    opacity: 1;
}

.profiles-navbar .footerTabs .nav-tabs.left .nav-item a:hover {
    background: #3a5fa3;
    background: -moz-linear-gradient(-45deg, #3a5fa3 0%, #30a9bb 100%);
    background: -webkit-linear-gradient(-45deg, #3a5fa3 0%,#30a9bb 100%);
    background: linear-gradient(135deg, #3a5fa3 0%,#30a9bb 100%);
    border: none;
    opacity: 1;
}

.profiles-navbar .footerTabs .nav-tabs.left .nav-item a i {
    font-size: 30px;
    transition: 0.5s ease;
    opacity: 1;
}
.profiles-navbar .footerTabs .nav-tabs.left .search{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #3f3f3f;
}
.profiles-navbar .footerTabs .nav-tabs.left .search a{
    font-size: 22px;
    color: white;
    padding: 16px 50px 16px 80px;
    opacity: 0.7;
}
.profiles-navbar .footerTabs .nav-tabs.left .search a span{
    margin-right: 15px;
}
.profiles-navbar .footerTabs .tab-content {
    background-color: #303030;
    padding: 30px;
    height: 295px;
    overflow: auto;
}

.profiles-navbar .footerTabs .tab-content .tab-pane ul li a {
    padding: 0 40px;
    color: white;
    font-size: 20px;
}

.profiles-navbar .footerTabs .tab-content .tab-pane ul li a span i {
    font-size: 40px;
}
.profiles-navbar .footerTabs .tab-content .tab-pane ul li.active a span i,.profiles-navbar .footerTabs .tab-content .tab-pane ul li:hover a span i {
    color: #329ab6;
}

.profiles-navbar .footerTabs .user-footer .head{
    background: #d44043;
    background: -moz-linear-gradient(left, #d44043 1%, #dd743a 100%);
    background: -webkit-linear-gradient(left, #d44043 1%,#dd743a 100%);
    background: linear-gradient(to right, #d44043 1%,#dd743a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d44043', endColorstr='#dd743a',GradientType=1 );
    height:66px;
}
.profiles-navbar .footerTabs .user-footer .user-name{
    font-size: 24px;
    margin-left: 15px;
}
.profiles-navbar .footerTabs .user-footer .log_out{
    border-left: 2px solid;
    padding:12px;
    text-align: center;
}
.profiles-navbar .footerTabs .user-footer .log_out a{
    font-size: 22px;
    color: white;
}
.profiles-navbar .footerTabs .user-footer .user-img-links{
    background-color: #303030;
    margin: 0;
    padding: 30px 0;
    height: 295px;
    overflow: auto;
}
.profiles-navbar .footerTabs .user-footer .user-img-links .img{

}
.profiles-navbar .footerTabs .user-footer .user-img-links .img img{
    width: 100%;
    border: 2px solid #fff;
    height: 235px;
    object-fit: cover;
}
.profiles-navbar .footerTabs .user-footer .user-img-links .links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px 0;
}
.profiles-navbar .footerTabs .user-footer .user-img-links .links li{
    margin-bottom:10px;
}
.profiles-navbar .footerTabs .user-footer .user-img-links .links li a{
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.profiles-navbar .footerTabs .user-footer .user-img-links .links li a i{
    margin: 0 22px 0 10px;
    font-size: 35px;
}
.profiles-navbar .footerTabs .user-footer .user-img-links .links li a span{
    opacity: 0.7;
}
/*favorite*/
.profiles-navbar .profile-favorite ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.profiles-navbar .profile-favorite {
    display: none;
}

.profiles-navbar .profile-favorite > .nav-tabs {
    background-color: #3f3f3f;
    box-shadow: 0 -2px 3px -1px #0000006b;
    border-radius: 0;
    border: none;
}

.profiles-navbar .profile-favorite > .nav-tabs  .nav-item {
    margin: 0;
}

.profiles-navbar .profile-favorite > .nav-tabs .nav-item a {
    border-radius: 0;
    font-size: 22px;
    position: relative;
    color: white;
    padding: 0.5rem 2rem;
    border: none;
    opacity: 0.7;
    display: flex;
    flex-wrap: nowrap;
}

.profiles-navbar .profile-favorite > .nav-tabs .nav-item a:hover::after, .profiles-navbar .profile-favorite > .nav-tabs .nav-item a.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #a9574e;
    opacity: 1;

}

.profiles-navbar .profile-favorite > .nav-tabs .nav-item a.active {
    background: none;
    color: white;
    border: none;
    opacity: 1;
}

.profiles-navbar .profile-favorite > .nav-tabs .nav-item a:hover {
    background: none;
    border: none;
    opacity: 1;
}

.profiles-navbar .profile-favorite > .nav-tabs .nav-item a i {
    font-size: 30px;
    transition: 0.5s ease;
    opacity: 1;
}

.profiles-navbar .profile-favorite > .nav-tabs .nav-item a.active i, .profiles-navbar .profile-favorite > .nav-tabs .nav-item a:hover i {
    color: #a9574e;
}

.profiles-navbar .profile-favorite .tab-content {
    background-color: #303030;
    padding: 30px 10px;
    min-height: 132px;
}

.profiles-navbar .profile-favorite > .nav-tabs .search {
    align-self: center;
    margin-left: auto;
    margin-right: 22px;
}

.profiles-navbar .profile-favorite > .nav-tabs .search input::placeholder {
    font-size: 18px;
    text-align: center;
    opacity: 0.6;
    color: white;
}

.profiles-navbar .profile-favorite > .nav-tabs .search input:-ms-input-placeholder {
    font-size: 18px;
    text-align: center;
    opacity: 0.6;
    color: white;
}

.profiles-navbar .profile-favorite > .nav-tabs .search input:-ms-input-placeholder {
    font-size: 18px;
    text-align: center;
    opacity: 0.6;
    color: white;
}

.profiles-navbar .profile-favorite > .nav-tabs .search input:focus {
    box-shadow: none;
}

.profiles-navbar .profile-favorite > .nav-tabs .search input {
    padding: .375rem 3rem;
    border-radius: 1rem;
    background-color: #ffffff1f;
    border: none;
    color: #ffffff1f;
    outline: none;
    font-size: 18px;
}

.profiles-navbar .profile-favorite .tab-content .favorite-users {
    position: relative;
}
.profiles-navbar .profile-favorite .tab-content .favorite-carousel .item img {
    width: 69px;
    height: 69px;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 12px;
}
.profiles-navbar .profile-favorite .tab-content .favorite-carousel .item .name {
    font-size: 15px;
    background-color: #3f3f3f;
    border-radius: 20px;
    padding: 8px 15px;
    white-space: nowrap;
}
.profiles-navbar .profile-favorite .tab-content .favorite-carousel .item .name .icon{
    width: 19px;
    height: 19px;
    background-color: #a24d44;
    border-radius: 50%;
    margin-left: 8px;
    display: none;
    align-items: center;
    justify-content: center;
}
.profiles-navbar .profile-favorite .tab-content .favorite-carousel .item .name .icon i{
    font-size: 15px;
}
.profiles-navbar .profile-favorite .tab-content .favorite-icon .heart-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.profiles-navbar .profile-favorite .tab-content .favorite-icon span{
    width: 59px;
    height: 59px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background: #66312c;
    background: -moz-linear-gradient(top, #66312c 0%, #b65349 50%, #b65349 100%);
    background: -webkit-linear-gradient(top, #66312c 0%, #b65349 50%, #b65349 100%);
    background: linear-gradient(to bottom, #66312c 0%, #b65349 50%, #b65349 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66312c', endColorstr='#b65349', GradientType=0);
    cursor: pointer;
    margin-right: 30px;
}
.profiles-navbar .profile-favorite .tab-content .favorite-carousel .owl-nav{
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
}
.profiles-navbar .profile-favorite .tab-content .favorite-carousel .owl-next{
    position: absolute;
    right: 0;
}
.profiles-navbar .profile-favorite .tab-content .favorite-carousel button {
    font-size: 68px;
    line-height: 78px;
    outline: none;
}
.profiles-navbar .profile-favorite .tab-content .favorite-carousel button:hover {
    background: none;
}
.profiles-navbar .profile-favorite .tab-content .favorite-carousel .owl-item .item{
    margin: 10px 0;
    padding: 0 20px;
}
.profiles-navbar .profile-favorite .tab-content .favorite-carousel .owl-stage{
    display: flex;
}
.profile-footer .left .icons .user-mobile{
    display: none;
}
/*Responsive*/
@media (max-width: 1024px) {
    .profiles-navbar .footerTabs .nav-tabs.left .search a{
        padding:0 15px;
    }
    .profiles-navbar .footerTabs .user-footer .log_out{
        padding:0;
    }
}
@media (max-width: 900px) {
    .profile-footer.logged-in .left{
        display: flex;
    }
    .profile-footer.logged-in .right {
        display: none !important;
    }
    .profile-footer.logged-in .left{
        border-right: none;
        justify-content: space-around !important;
    }
    .profile-footer.logged-in .left>div{
        flex: auto;
        justify-content: center;
    }
    .profile-footer.logged-in .left .create>span{
        flex: auto;
    }
    .profile-footer.logged-in .left .logo-name{
        padding: 0;
        margin: 0;
    }
    .profile-footer.logged-in .left .icons{
        justify-content: space-between;
    }
    .profile-footer.logged-in .left .icons .user-mobile{
        display: block;
    }
    .profile-footer.logged-in .left .create .heart{
        justify-content: center;
    }
    .profiles-navbar .profile-favorite .tab-content .favorite-icon span{
        margin-right:0;
        width: 35px;
        height: 35px
    }
    .profiles-navbar .profile-favorite .tab-content .favorite-icon span i{
        font-size: 18px;
    }
    .profiles-navbar .profile-favorite > ul li.search{
        margin-right:15px;
    }
    .profiles-navbar .profile-favorite > ul li.search input{
        padding: .375rem 1rem;
    }
}
@media (max-width: 768px) {
    .profiles-navbar .footerTabs{
        flex: auto;
    }
    .profiles-navbar{
        /*top: 0;*/
    }
    .profiles-navbar .footerTabs>.row{
        height: calc(100vh - 71px);
        /*flex-direction: column;*/
        /*flex: auto;*/
    }
    .profiles-navbar .footerTabs>.row>div:first-of-type{
        flex: auto;
        display: flex;
        flex-direction: column;
        height: calc(100% - 361px);
        /*order: 2;*/
    }

    .profiles-navbar .footerTabs>.row>div:last-of-type{
        /*order: 1;*/
    }
    .profiles-navbar .footerTabs .tab-content{
        flex: auto;
        height: calc(100% - 100px);
    }
    .profiles-navbar .profile-footer.logged-in {
        margin-top: auto;
    }
    .profiles-navbar .footerTabs .nav-tabs.left .search{
        display: none;
    }
    .profiles-navbar .footerTabs .nav-tabs.left .nav-item a{
        flex-direction: column;
        align-items: center;
        font-size: 16px;
    }
    .profiles-navbar .footerTabs .nav-tabs.left .nav-item a span{
        margin:0 !important;
    }

}
@media (max-width: 500px) {
    .profiles-navbar .footerTabs > .nav-tabs .nav-item a,.profiles-navbar .profile-favorite > .nav-tabs .nav-item a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .profiles-navbar .footerTabs > .nav-tabs .nav-item a span,.profiles-navbar .profile-favorite > .nav-tabs .nav-item a span{
        margin:0 !important;
    }
    .profiles-navbar .profile-favorite > .nav-tabs .search{
        width: 100%;
        margin: 10px 15px;
    }
}
@media (max-width: 320px) {
    .profiles-navbar .footerTabs .user-footer .user-img-links .links li a{
        font-size: 18px;
        flex-direction: column;
    }
    .profiles-navbar .footerTabs .user-footer .user-img-links .links li a i{
        margin: 0;
    }
}

/*Notification*/
.notification-panel.active{
    right: 0;
}
.notification-panel{
    position: fixed;
    top: 0;
    bottom: 80px;
    width: 445px;
    right: -445px;
    z-index: 1020;
    background: #303030;
    /*padding: 15px;*/
    color: #ffffff;
    transition: right .2s linear;
}

.notification-panel .notification{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    margin: 0;
    /*padding: 20px;*/
}
.notification-panel .notification .tab-content{
    height: calc(100% - 77px);
}
.notification-panel .notification .tab-content .button-view-more button{
    background: #3a5fa3;
    background: -moz-linear-gradient(45deg, #3a5fa3 0%, #30a9bb 100%);
    background: -webkit-linear-gradient(45deg, #3a5fa3 0%, #30a9bb 100%);
    background: linear-gradient(45deg, #3a5fa3 0%, #30a9bb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a5fa3', endColorstr='#30a9bb', GradientType=1);
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 0;
}
/* width */
.notification-panel .notification::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.notification-panel .notification::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.notification-panel .notification::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.notification-panel .notification::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.notification-panel .notification div.image{
    position: absolute;
    top: 50%;
    left: 33%;
    opacity: 0.3;
    z-index: -1;
}
.notification-panel .notification .icon-menu{
    position: relative;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    background-color: #3f3f3f;
    color: white;
    border: none;
    border-radius: 0;
}
.notification-panel .notification .icon-menu.active,.notification-panel .notification .icon-menu:hover{
    background: #2857a3;
    background: -moz-linear-gradient(left, #2857a3 0%, #1ab3cf 100%, #ad1283 100%);
    background: -webkit-linear-gradient(left, #2857a3 0%,#1ab3cf 100%,#ad1283 100%);
    background: linear-gradient(to right, #2857a3 0%,#1ab3cf 100%,#ad1283 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2857a3', endColorstr='#ad1283',GradientType=1 );
    cursor: pointer;
}

.notification-panel .notification div.number span{
    position: absolute;
    bottom: 43px;
    left: 84px;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 50%;
    padding-left: 6px;
    padding-right: 6px;
    height: 22px;
    background-color: white;
    color: black;
}

/*logged out*/
.profiles-navbar .profile-footer.logged-out .logo-name span{
    margin-left: 15px;
    font-size: 24px;
}
.profiles-navbar .profile-footer.logged-out .left{
    border: none;
}
.profiles-navbar .profile-footer.logged-out .right{
    background-color: #272727;
    padding-right:15px;
}
.profiles-navbar .profile-footer.logged-out .right ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.profiles-navbar .profile-footer.logged-out .right ul a{
    color: white;
    font-size: 20px;
    margin-right:15px;
}
.profiles-navbar .profile-footer.logged-out{
    min-height: 80px;
}
/*login reg view*/
.panel-login-reg.active{
    right: 0;
}
.panel-login-reg{
    position: fixed;
    top: 0;
    bottom: 80px;
    width: 445px;
    right: -445px;
    z-index: 1020;
    background: #303030;
    /*padding: 15px;*/
    color: #ffffff;
    transition: right .2s linear;
}

.panel-login-reg .login-reg-view{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    margin: 0;
    /*padding: 20px;*/
}
/* width */
.panel-login-reg .login-reg-view::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.panel-login-reg .login-reg-view::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.panel-login-reg .login-reg-view::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.panel-login-reg .login-reg-view::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.panel-login-reg .login-reg-view .images{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.notification-panel .notification .tab-content .notifications-content,.notification-panel .notification .tab-content .messages-content{
    padding:15px;
}
/*subscribe*/
.notification-panel .notification .subscribers div.head2 {
    padding: 10px;
    background-color: #3f3f3f;
    display: flex;
    justify-content: space-between;
}

.notification-panel .notification .subscribers div.head2 button {
    background-color: #333333;
    font-size: 20px;
    width: 200px;
    height: 53px;
}

.notification-panel .notification .subscribers div.head2 button:hover {
    background-color: #333333;
    border-color: #333333;
}

.notification-panel .notification .subscribers div.head2 i {
    color: #ffffff;
}

.notification-panel .notification .subscribers div.content-subscrib {
    background-color: #303030;
}

.notification-panel .notification .subscribers div.johan-button {
    padding-top: 8px;
    margin-left: 56px;
}

.notification-panel .notification .subscribers div.johan-button button {
    background-color: #272727;
    font-size: 20px;
    margin: -4px;
    box-shadow: 2px 2px 2px #272727;
    border: 0;
    text-align: left;
    padding-left: 21px;
    letter-spacing: 1.1px;
}
.notification-panel .notification .subscribers .button-view-more{
    padding:15px;
}
.notification-panel .notification .subscribers div.johan-button button:hover {
    background-color: #272727;
    border-color: #272727;
}

.notification-panel .notification .subscribers div.johan-button button:focus {
    box-shadow: none;
}

.notification-panel .notification .subscribers div.johan-button img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: right;
    margin-left: 25px;
}

.notification-panel .notification .subscribers .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.notification-panel .notification .subscribers .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.notification-panel .notification .subscribers .checkmark {
    position: absolute;
    top: 28px;
    left: -22px;
    height: 29px;
    width: 29px;
    border: 1px solid white;
}

/* When the checkbox is checked, add a blue background */
.notification-panel .notification .subscribers .container input:checked ~ .checkmark {
    background-color: #5b9d5f;
    border: 1px solid #5b9d5f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.notification-panel .notification .subscribers .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.notification-panel .notification .subscribers .container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.notification-panel .notification .subscribers .container .checkmark:after {
    left: 9px;
    top: 3px;
    width: 7px;
    height: 14px;
    border: solid;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.notification-panel .notification .subscribers div.head {
    background: #2857a3;
    background: -moz-linear-gradient(left, #2857a3 0%, #1ab3cf 100%, #ad1283 100%);
    background: -webkit-linear-gradient(left, #2857a3 0%, #1ab3cf 100%, #ad1283 100%);
    background: linear-gradient(to right, #2857a3 0%, #1ab3cf 100%, #ad1283 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2857a3', endColorstr='#ad1283', GradientType=1);
}

.notification-panel .notification .subscribers div.select-members {
    padding: 14px;
    display: flex;
    justify-content: space-around;
}

.notification-panel .notification .subscribers div.select-members i {
    font-size: 40px;
    color: #ffffff;
}

.notification-panel .notification .subscribers div.select-members span {
    font-size: 30px;
    color: #ffffff;
}