
#top-navigation{
    background: #404040;
}
#top-navigation a{
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    padding:25px 0;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}
#top-navigation ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
#top-navigation .photo img{
    width: 100%;
    height: 339px;
    object-fit: cover;
}
#top-navigation .ident .vc-name .name .name-title {
    padding: 17px 40px 18px 40px;
    min-height: 120px;
    color: #ffffff;
    overflow: hidden;
}

#top-navigation .ident .vc-name .name h1 {
    margin: 0;
    font-size: 40px;
    line-height: 2.1em;
    font-weight: 200;
    color: #e7e7e7;
}
#top-navigation .ident .vc-name .name .name-pdf a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
#top-navigation .ident .vc-name .name .name-pdf a i {
    display: block;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-right:before {
    background: rgba(255, 255, 255, 0.1);
}
.hvr-sweep-to-right:active, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:hover {
    color: #fff;
}
.hvr-sweep-to-right:active:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
#top-navigation .ident .vc-name .position {
    color: #efefef;
}
#top-navigation .ident .vc-name .position .position-title {
    /*background: rgba(0, 0, 0, 0.2);*/
    padding: 20px 0px 20px 40px;
    min-height: 120px;
}
.cd-intro {
    width: 90%;
    max-width: 768px;
}
section {
    position: relative;
    /*overflow: hidden;*/
}
#top-navigation .ident .vc-name .position h2 {
    font-size: 24px;
    line-height: 2.7em;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 300;
    margin: 0;
    text-overflow: ellipsis;
    color: #e7e7e7;
}
.cd-headline.clip span {
    display: inline-block;
    padding: .2em 0;
    margin-right:5px;
}
.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
}
.ui-menu-color06 {
    background-color: #d9a81d !important;
}
#top-navigation .cd-side-navigation .menuitem {
    min-height: 120px;
    text-align: center;

}
.ui-menu-color01 {
    background-color: #1abc9c !important;
}
.ui-menu-color02 {
    background-color: #3498db !important;
}
.ui-menu-color03 {
    background-color: #9b59b6 !important;
}
.ui-menu-color04 {
    background-color: #e67e22 !important;
}
.ui-menu-color05 {
    background-color: #e74c3c !important;
}
.ui-menu-color06 {
    background-color: #d9a81d !important;
}
#top-navigation .cd-side-navigation .menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}
#top-navigation i{
    color: rgba(255, 255, 255, 0.6);
    font-size: 25px;
}
#top-navigation .cd-side-navigation .menuitem a i {
    display: block;
}
#top-navigation .cd-side-navigation .menuitem a span {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}
.hvr-sweep-to-bottom:active:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2) !important;
}
.hvr-sweep-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.hvr-sweep-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#top-navigation .ident .vc-name .name .name-pdf {
    background: rgba(0, 0, 0, 0.1);
    min-height: 120px;
    text-align: center;
}
#top-navigation .ident .vc-name .position .pdf {
    background: rgba(0, 0, 0, 0.25);
    min-height: 120px;
    text-align: center;
}
.sticky .ux-tabs{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 9;
}
.sticky .vc-photo,.sticky .name.position{
    display: none;
}

/*Responsive Tab*/

.sticky .ux-tabs__headers{
    width: 100%;
    flex: 1;
}
.sticky .ux-tabs__header{
    width: 25%;
}

#header{
    box-shadow: 0 0 24px rgba(0,0,0,0.15);
}
.header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1020;
    margin-bottom: 0;
    padding: 0;
    transition: box-shadow .2s linear;
}
.header:before,
.header:after {
    content: '';
    display: table;
    clear: both;
}
.header .navbar-toggle {
    position: relative;
    float: right;
    padding: 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 4px;
    outline: none;
}
.header .navbar-toggle:hover,
.header .navbar-toggle:focus {
    background: none !important;
    opacity: 0.6;
}
.header .navbar-toggle.pull-left {
    margin-left: 15px;
    margin-right: 0;
}
.header .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.header .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
.header .navbar-header:before,
.header .navbar-header:after {
    content: '';
    display: table;
    clear: both;
}
.header .navbar-brand {
    float: left;
    margin-right: 10px;
    padding: 10px 20px;
    height: 50px;
    width: 220px;
    font-weight: 100;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
}
.header .navbar-logo {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    background: #00acac;
    border: 10px solid transparent;
    border-color: rgba(0,0,0,0) rgba(0,0,0,0.15) rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}
.header .navbar-header .navbar-brand i{
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}
.header .navbar {
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.header .navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}
.header .navbar-nav > li {
    float: left;
    position: relative;
}
.header .navbar-nav > li.divider {
    height: 34px;
    margin-top: 10px;
    background: #e2e7eb;
    width: 1px;
}
.header .navbar-nav > li > a {
    display: block;
    text-decoration: none;
    line-height: 20px;
    padding: 15px;
}
.header .navbar-nav > li > a:hover,
.header .navbar-nav > li > a:focus {
    opacity: 0.6;
}
.header .navbar-nav > li > a .label {
    position: absolute;
    top: 8px;
    right: 5px;
    display: block;
    background: #00acac;
    line-height: 12px;
    font-weight: 600;
    color: #fff;
    padding: .3em .6em .3em;
    border-radius: 20px;
}
.header .navbar-nav > li > a > i {
    top: 1px;
    position: relative;
    font-size: 16px;
}
.header .navbar-nav > li > a.icon i {
    font-size: 24px;
    height: 24px;
    margin: -2px 0;
    display: block;
}
.header .navbar-nav > .open > a,
.header .navbar-nav > .open > a:hover,
.header .navbar-nav > .open > a:focus {
    background: none !important;
    color: #333;
    opacity: 1.0;
}
.header .navbar-nav .dropdown-toggle:after {
    display: none;
}
.header .navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top: 1px solid #f2f3f4;
    box-shadow: 0 13px 25px -2px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.header .navbar-nav > li > .dropdown-menu.media-list .media-heading {
    font-weight: 600;
    margin: 0;
    line-height: 16px;
    font-size: 12px;
}
.header .navbar-form {
    padding: 0 15px;
    margin: 9px 0;
}
.header .navbar-form .form-group {
    margin: 0;
}
.header .navbar-form .btn-search {
    position: absolute;
    right: 15px;
    top: 9px;
    height: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    background: none;
    border-radius: 0 30px 30px 0;
}
.header .navbar-form .btn-search > i[class*=ion-] {
    font-size: 22px;
    display: block;
}
.header .navbar-form .form-control {
    width: 220px;
    padding: 5px 15px;
    height: 32px;
    background: #f2f3f4;
    border-color: #f2f3f4;
    border-radius: 30px;
}
@keyframes expand {
    from { width: 220px; }
    to { width: 300px; }
}
@-webkit-keyframes expand {
    from { width: 220px; }
    to { width: 300px; }
}
.header .navbar-form .form-control:focus {
    width: 300px;
    border-color: #f2f3f4;
    box-shadow: none;
    -webkit-animation: expand .2s;
    animation: expand .2s;
}
.fade .navbar-form .form-control {
    -webkit-animation: none;
}
.header .navbar-user img {
    float: left;
    width: 30px;
    height: 30px;
    margin: -5px 10px 0 0;
    border-radius: 30px;
}
.header .navbar-header.navbar-header-without-bg .navbar-brand {
    background: none !important;
}
.header .navbar-language .flag-icon {
    font-size: 15px;
    margin: 2px 7px 0;
    float: left;
}


.header.navbar-default {
    background: #fff;
}
.header.navbar-default .brand,
.header.navbar-default .navbar-brand {
    color: #333;
}
.header.navbar-default .navbar-toggle .icon-bar {
    background: #2d353c;
}
.header.navbar-default .navbar-nav > li > a {
    color: #585663;
}
.header.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
}
.header .dropdown-menu.media-list {
    max-width: 360px;
    padding: 0;
}
.header .dropdown-menu.media-list p {
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
    line-height: 16px;
    max-width: 270px;
    color: #585c61;
}
.header .dropdown-menu.media-list .dropdown-header {
    padding: 10px 15px !important;
    background: #f2f3f4;
    font-size: 10px;
    color: #585c61;
}
.header .dropdown-menu.media-list .dropdown-header + .media {
    margin-top: -10px;
}
.header .dropdown-menu.media-list > .media {
    margin-top: 0;
    border-top: 1px solid #f2f3f4;
    border-bottom: 1px solid #f2f3f4;
    margin-bottom: -1px;
}
.header .dropdown-menu.media-list > .media > a {
    display: flex;
    padding: 10px 15px !important;
    clear: both;
    white-space: nowrap;
}
.header .dropdown-menu.media-list > .media > a:hover,
.header .dropdown-menu.media-list > .media > a:focus {
    background: #f9f9f9;
}
.header .dropdown-menu.media-list > .media .media-left {
    padding-right: 10px;
}
.header .dropdown-menu.media-list > .media .media-right {
    padding-left: 10px;
}
.header .dropdown-menu.media-list > .media .media-object {
    height: 48px;
    width: 48px;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
}
.header .dropdown-menu.media-list > .media .media-object-icon {
    position: absolute;
    margin-left: 30px;
    border: 2px solid #fff;
    border-radius: 40px;
    background: #fff;
    margin-top: -11px;
    display: block;
    width: 22px;
    height: 22px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
}
.header .dropdown-item,.header .dropdown-menu>li>a {
    display: block;
    padding: 5px 15px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
}
.header .media-list {
    padding-left: 0;
    list-style: none;
}
.header .media,
.header .media-body {
    overflow: hidden;
    zoom: 1;
}
.header .media + .media {
    margin-top: 15px;
}
.header .media-heading {
    margin-top: 0;
    margin-bottom: 5px;
}
.header .media-list {
    padding-left: 0;
    list-style: none;
}
.header .media-body, .header .media-left, .header .media-right {
    display: table-cell;
    vertical-align: top;
}
.header .media-body {
    width: 10000px;
}
.header .media .media-object { width: 128px; }
.header .media.media-lg .media-object { width: 256px; }
.header .media.media-sm .media-object { width: 64px; }
.header .media.media-xs .media-object { width: 32px; }
.header .media > .pull-left,
.header .media > .media-left {
    padding-right: 15px;
}
.header .media > .pull-right,
.header .media > .media-right {
    padding-left: 15px;
}
.header .media a:not(.btn):hover,
.header .media a:not(.btn):focus,
.header .media a:not(.btn):hover .media-heading,
.header .media a:not(.btn):focus .media-heading,
.header .media a:not(.btn).media-heading:hover,
.header .media a:not(.btn).media-heading:focus {
    color: #242a30;
    text-decoration: none;
}
.header .media-list.media-list-with-divider > li + li {
    border-top: 1px solid #eee;
    padding-top: 20px;
}
.header .dropdown-menu {
    border: none;
    box-shadow: 0 5px 30px 0 rgba(0,0,0,.25);
    font-size: 12px;
}
.header .dropdown-header {
    font-size: 14px;
    font-weight: 700;
    color: #242a30;
    padding: 0;
    margin: 0 0 10px;
}
.header .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.head-left-menu{
    position: fixed;
    z-index: 1020;
    background: #131313bf;
    transition: left .2s linear;
    top: 0px;
    bottom: 0;
    width: 260px;
    left: -290px;
}
.head-left-menu.active{
left: 0;
}
.head-left-menu .content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*overflow: scroll;*/
    margin: 0;
    z-index: 1020;
}
.head-left-menu .content .menu-item{
list-style: none;
    margin: 0;
    padding: 0;
}
.head-left-menu .content .menu-item .item{

}
.head-left-menu .content .menu-item .item a{
    display: block;
    padding: 15px 20px;
    transition: 0.5s ease;
    background-color: #3e3e3e;
    color: white;
    border-bottom: 1px solid #6b6b6b;
    text-decoration: none;
    cursor: pointer;
}
.head-left-menu .content .menu-item .item a:hover{
    background-color: #000000;
}
.head-left-menu .close {
    text-decoration: none;
    position: absolute;
    top: 10%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #000;
    background: #fff;
    border-radius: 4px 0 0 4px;
    text-align: center;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.39);
    right: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 768px) {
    .header .navbar-toggle {
        display: none;
    }
    .header.navbar > .container .navbar-brand,
    .header.navbar > .container-fluid .navbar-brand {
        margin-left: -15px;
    }
    .header .navbar-nav {
        float: left;
        margin: 0;
    }
    .header .navbar-header,
    .header .navbar-nav > li {
        float: left;
    }
    .header .navbar-right {
        float: right!important;
    }
    .header .container-fluid .navbar-right,
    .header .container .navbar-right {
        margin-right: -15px;
    }
    .header .navbar-toggle {
        display: none;
    }
    .header .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }
}
@media (max-width: 767px) {
    .header .navbar-user .name {
        display: none;
    }
    .header .navbar-brand {
        width: auto;
    }
    .header .navbar-header {
        border-bottom: 1px solid #eee;
    }
    .header .navbar-inverse .navbar-header {
        border-bottom: 1px solid #2d353c;
    }
    .header .header .navbar-nav {
        margin-right: 0;
        padding: 0 15px;
        width: 100%;
    }
    .header .header .container-fluid .navbar-nav,
    .header .header .container .navbar-nav {
        margin: 0 -10px;
    }
    .header .navbar-right {
        float: right;
    }
    .header .navbar-left {
        float: left;
    }
    .header .navbar-nav > li {
        float: left;
    }
    .header .navbar-form {
        margin: 0 !important;
        padding: 9px 10px;
        border: none;
        box-shadow: none;
    }
    .header .navbar.navbar-inverse .navbar-form {
        margin: 0;
        padding: 10px;
    }
    .header .navbar-form .btn-search {
        right: 10px;
    }
    .header .navbar-form .form-group {
        margin: 0;
    }
    .header .navbar-form .form-control,
    .header .navbar-form .form-control:focus {
        margin: 0;
        width: 150px !important;
        -webkit-animation: none !important;
        animation: none !important;
    }
    .header .navbar-nav .open .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        min-width: 160px;
        border-top: 1px solid #eee;
        list-style: none;
        background: #fff;
        box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.2);
    }
    .header .navbar-nav.navbar-right .open .dropdown-menu {
         right: 0;
         left: auto;
     }
    .header .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #eee;
    }
    .header .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #262626;
    }
    .header .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .header .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        background: #edf0f5;
        color: #262626;
    }
    .header .navbar-nav .open .dropdown-menu > li > a {
        padding: 5px 15px;
    }
    .header .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .header .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background: #edf0f5;
    }
    .header .navbar-inverse .navbar-header.navbar-header-without-bg {
        background: none;
        border-bottom: 1px solid #666;
        border-bottom: 1px solid rgba(255,255,255, 0.1);
    }
    .header .navbar-collapse .navbar-nav {
        margin: 0;
    }
    .header .navbar-collapse .navbar-nav > li > a {
        padding: 15px 20px;
    }
    .header .navbar-collapse .dropdown-menu > li > a {
        padding: 5px 20px;
    }
    .header .navbar-collapse {
        max-height: 340px;
    }
    .header .navbar-collapse .show .dropdown-menu {
        position: relative !important;
        box-shadow: none !important;
        width: auto !important;
        top: 0 !important;
        transform: none !important;
    }
    .header .navbar-collapse.in,
    .header .navbar-collapse.show {
        overflow-y: auto !important;
    }
    .header .navbar-toggle,
    .header .navbar-toggle.pull-left {
        margin-left: 10px;
        margin-right: 15px;
    }
    .header .navbar-toggle.pull-right {
        margin-left: 15px;
        margin-right: 10px;
    }
}
@media(max-width: 480px) {
    .header .dropdown-menu.media-list {
        max-width: 280px;
    }
    .header .dropdown-menu.media-list p {
        max-width: 190px;
    }
}
@media (max-width: 380px) {
    .header .dropdown-menu.media-list {
        margin-right: -50px;
    }
}
@media (max-width: 380px) {
    .header .navbar-form .form-control,
    .header .navbar-form .form-control:focus {
        width: 160px !important;
    }
}
@media (max-width: 340px) {
    .header .navbar-nav > li > a {
        padding: 15px 12px;
    }
    .header .navbar-user img {
        margin-right: 3px;
    }
    .header .navbar-user > a .caret {
        margin-right: -5px;
    }
    .header .navbar-nav > li > a .label {
        right: 2px;
    }
    .header .navbar-form .form-control,
    .header .navbar-form .form-control:focus {
        width: 140px !important;
    }
}
@media (max-width: 1080px) {
    #header{
        width: 100%;
    }
}

.ux-tabs {
    display: flex;
    justify-content: space-between;
}
.ux-tabs__headers {
    margin: 0;
    padding: 0;
    position: relative;
}
.ux-tabs__header {
    display: inline-block;
    padding: 5px;
    margin: 0;
    background-color: #eee;
    cursor: pointer;
    float: left;
    width: 154.7px;

}
.ux-tabs__dropdown {
    background-color: #499bc76b;
    padding: 5px;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.ux-tabs__dropdown-items {
    position: absolute;
    padding: 0;
    display: none;
    right: 0;
    top: 100px;
    margin: 0;
}
.ux-tabs__dropdown-item {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    background: #ddd;
}
.ux-tabs__dropdown-item a{
    padding:25px !important;
}

.ux-u-d-block {
    display: block;
}

.ux-u-d-none {
    display: none;
}
.ux-tabs__dropdown>i{
    padding: 1.2px;
}
@media (max-width: 1216px) {
    .ux-tabs__header{
        width: 166.2px;
    }
}
@media (max-width: 1023px) {
    .ux-tabs__header{
        width: 249px;
    }
}
@media (max-width: 1022px) {
    .ux-tabs__header{
        width: 100%;
    }
    .ux-tabs__headers{
        width: 100%;
    }
}