ul, li {
    list-style: none;
}
.profile-main{
    margin-top: 15px;
}
ul, li {
    list-style: none;
}

.profile-skills {
    padding: 100px;
    background-color: #ffffff;
    box-shadow: 0 10px 40px 0 rgba(1, 1, 1, 0.1);
    margin-top: 40px;
    color: #2f2f2f;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: .5px;
}

.profile-skills .skill-head {
    text-align: left;
    margin-bottom: 80px;
}

.profile-skills .skill-head h3 {
    font-size: 40px;
    font-weight: 700;
    padding: 15px 0;
    line-height: 0.65;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.profile-skills .skill-head h3 i {
    color: #1d82d8;
    margin-right: 10px
}

.profile-skills .skill-bottom {
    margin-bottom: 90px;
}

.profile-skills .skill-bottom .skill-tag {
    padding: 0;
    margin-bottom: 60px;
}

.profile-skills .skill-bottom .skill-tag .tag-item {
    float: left;
    width: auto;
    height: 53px;
    line-height: 53px;
    text-align: center;
}

.profile-skills .skill-bottom .skill-tag .tag-icon {
    width: 30px;
    height: 53px;
    color: #111111;
    text-align: left;
    line-height: 53px;
}

.profile-skills .skill-bottom .skill-tag .tag-item a {
    color: #111111;
    padding: 0 20px;
    text-transform: lowercase;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.profile-skills .skill-bottom .skill-tag .tag-item a:hover, .profile-skills .skill-bottom .skill-tag .tag-item a.active {
    background-color: #ffffff;
    color: #1d82d8;
    box-shadow: 0 10px 40px 0 rgba(1, 1, 1, 0.1);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.profile-skills .skill-bottom .prof-skills {
    padding: 60px 60px;
    background-color: #fff;
    box-shadow: 0 10px 40px 0 rgba(1, 1, 1, 0.1);
    margin-top: 60px;
}

.profile-skills .skill-bottom .prof-skills h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.profile-skills .skill-bottom .prof-skills .single .bar-blue {
    width: 90%;

}

.profile-skills .skill-bottom .prof-skills .single .bar-green {
    width: 60%;
    background-color: green;
}

.profile-skills .skill-bottom .prof-skills .single .bar-red {
    width: 75%;
    background-color: red;
}

.profile-skills .skill-bottom .prof-skills .single .bar-black {
    width: 80%;
    background-color: black;
}

.profile-skills .skill-bottom .prof-skills .single .bar-orange {
    width: 35%;
    background-color: orange;
}

.profile-skills .skill-bottom .prof-skills .single .bar-brown {
    width: 18%;
    background-color: brown;
}

.profile-skills .skill-bottom .prof-skills .single .skilled-tittle {
    font-size: 18px;
    color: #888;
}
.section-header nav {
    background-color: #1d1d35;
    border-bottom: 1px solid transparent;
}

.section-header .rd-navbar-main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1170px;
    padding: 15px 0;
    margin-left: auto;
    margin-right: auto;
}

.section-header .rd-navbar-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 50px;
}

@media (min-width: 1200px) {
    .section-header .rd-navbar-panel {
        padding-right: 70px;
    }
}

.section-header .rd-navbar-brand img {
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 70px;
    object-fit: cover;
}
.section-header .rd-navbar-block {
    display: flex;
    align-items: center;
}
.section-header .list-inline-bordered {
    margin-left: -18px;
    margin-right: -18px;
    color: #ffffff;
    margin: 0;
}
.section-header .list-inline-bordered > li {
    display: inline-block;
    line-height: 24px;
}
.section-header .list-inline-bordered > * {
    padding-left: 18px;
    padding-right: 18px;
}
.section-header .list-inline-bordered * {
    color: inherit;
}
.section-header .list-inline-bordered > li:not(:last-child) {
    border-right: 1px solid #74757f;
}
.section-header .list-inline-bordered > li > .log-reg {
    background: none;
    border: none;
    display: inline-block;
    padding: 0;
    outline: none;
    outline-offset: 0;
    cursor: pointer;
    -webkit-appearance: none;
    transition: .22s;
    text-decoration: none;
}
.section-header .list-inline-bordered > li > .log-reg:hover {
    color: #aeb1be;
}
.section-header .rd-navbar-nav-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 200px;
    right: 80px;
    z-index: 102;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 690px;
    background: #1d1d35;
    opacity: 0;
    visibility: hidden;
    transition: .44s ease-in-out;
}
@media (min-width: 1200px){
    .section-header .rd-navbar-nav-wrap {
        left: 300px;
        right: 70px;
    }
}
.section-header .rd-navbar-nav{
    transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
}
.section-header .rd-navbar-toggle {
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
    transform: translate3d(0, -50%, 0);
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
}
.section-header .rd-navbar-toggle span,.section-header .rd-navbar-toggle span:after,.section-header .rd-navbar-toggle span:before{
    width: 24px;
    height: 2px;
    background-color: #fff;
    backface-visibility: hidden;
    position: relative;
    display: block;
    margin: auto;
    transition: .3s all ease;
}
.section-header .rd-navbar-toggle span:after,.section-header .rd-navbar-toggle span:before{
    content: "";
    position: absolute;
    left: 0;
    top: -6px;
    transition: .3s all ease;
}
.section-header .rd-navbar-toggle span:after{
    top: 6px;
}
.section-header .rd-navbar-nav .social-icon {
    list-style: none;
    padding: 0 10px;
}
.section-header .rd-navbar-nav .social-icon a{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}
.section-header .rd-navbar-nav .social-icon.face a:hover{
    background-color: #3b5999;
    color: #ffffff;
}
.section-header .rd-navbar-nav .social-icon.goog a:hover{
    background-color: #dd4b39;
    color: #ffffff;
}
.section-header .rd-navbar-nav .social-icon.twit a:hover{
    background-color: #55acee;
    color: #ffffff;
}

.section-header .rd-navbar-nav-wrap.active {
    opacity: 1;
    visibility: visible;
}
.section-header .rd-navbar-toggle.active span{
    background: transparent;
    transition: .01s;
}
.section-header .rd-navbar-toggle.active span::before,.section-header  .rd-navbar-toggle.active span::after {
    transform-origin: 50% 50%;
    top: 0;
}
.section-header .rd-navbar-toggle.active span::after{
    transform: rotate(-45deg);
}
.section-header .rd-navbar-toggle.active span::before{
    transform: rotate(45deg);
}

.section-header .admin-pic img{
    width: auto;
    height: auto;
    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
}
.section-header .admin-log>a i{
    margin-left:5px;
}
.section-header .admin-log a{
text-decoration: none;
}
.section-header .admin-log .dropdown-menu{
    background-color: #1d1d35;
    border-radius: 6px;
    margin-top: 30px;
    padding: 0;
}
.section-header .admin-log .dropdown-menu li a span{
    margin-left:5px;
}
.section-header .admin-log .dropdown-menu li a{
    padding: 14px 12px;
}

@media  (max-width: 992px){
    .section-header .rd-navbar-toggle{
        left: 0;
    }
    .section-header .rd-navbar-brand{
        margin-left: 40px;
    }
    .section-header .rd-navbar-nav-wrap {
        position: fixed !important;
        left: 0 !important;
        top: 71px !important;
        bottom: -56px !important;
        z-index: 1079 !important;
        min-width: auto !important;
        width: 180px !important;
        overflow-y: auto !important;
        overflow-x: hidden !important;
        -webkit-overflow-scrolling: touch !important;
        font-size: 14px !important;
        line-height: 34px !important;
        transform: translateX(-110%)!important;
    }
    .section-header .rd-navbar-nav-wrap {
        color: #fff;
        background: #fff;
        border-right: 1px solid #e8e9ee;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    }
    .section-header .rd-navbar-nav-wrap.active {
        transform: translateX(0) !important;
    }
    .section-header .rd-navbar-nav-wrap{
        border-right-color: #1d1d35;
        background: #19192e;
    }
    .section-header .rd-navbar-nav{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .section-header .rd-navbar-nav .social-icon{
        padding: 6px !important;
    }
    .section-header .rd-navbar-main{
        padding:0 !important;
    }
    .section-header .rd-navbar-panel{
        padding-right:0 !important;
    }
}
@media  (max-width: 600px){
    .section-header .rd-navbar-panel{
        padding-right: 0 !important;
    }
    .section-header .list-inline-bordered{
        padding: 0 !important;
        font-size: 12px !important;
    }
}

#top-navigation{
    background: #404040;
}
#top-navigation a{
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}
#top-navigation ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
#top-navigation .photo img{
    width: 100%;
    max-height: 370px;
    object-fit: cover;
    height: 100%;
}
#top-navigation .ident .vc-name .name .name-title {
    padding: 17px 40px 18px 40px;
    min-height: 120px;
    color: #ffffff;
    overflow: hidden;
}

#top-navigation .ident .vc-name .name h1 {
    margin: 0;
    font-size: 40px;
    line-height: 2.1em;
    font-weight: 200;
}
#top-navigation .ident .vc-name .name .name-pdf a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
#top-navigation .ident .vc-name .name .name-pdf a i {
    display: block;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-right:before {
    background: rgba(255, 255, 255, 0.1);
}
.hvr-sweep-to-right:active, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:hover {
    color: #fff;
}
.hvr-sweep-to-right:active:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
#top-navigation .ident .vc-name .position {
    color: #efefef;
}
#top-navigation .ident .vc-name .position .position-title {
    background: rgba(0, 0, 0, 0.2);
    padding: 23px 40px 34px 40px;
    min-height: 120px;
}
.cd-intro {
    width: 90%;
    max-width: 768px;
}
section {
    position: relative;
    /*overflow: hidden;*/
}
#top-navigation .ident .vc-name .position h2 {
    font-size: 24px;
    line-height: 2.7em;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 300;
    margin: 0;
    text-overflow: ellipsis;
}
.cd-headline.clip span {
    display: inline-block;
    padding: .2em 0;
}
.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
}
.ui-menu-color06 {
    background-color: #d9a81d !important;
}
#top-navigation .cd-side-navigation .menuitem {
    min-height: 120px;
    text-align: center;

}
.ui-menu-color01 {
    background-color: #1abc9c !important;
}
.ui-menu-color02 {
    background-color: #3498db !important;
}
.ui-menu-color03 {
    background-color: #9b59b6 !important;
}
.ui-menu-color04 {
    background-color: #e67e22 !important;
}
.ui-menu-color05 {
    background-color: #e74c3c !important;
}
.ui-menu-color06 {
    background-color: #d9a81d !important;
}
#top-navigation .cd-side-navigation .menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}
#top-navigation i{
    color: rgba(255, 255, 255, 0.6);
    font-size: 30px;
}
#top-navigation .cd-side-navigation .menuitem a i {
    display: block;
}
#top-navigation .cd-side-navigation .menuitem a span {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}
.hvr-sweep-to-bottom:active:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2) !important;
}
.hvr-sweep-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.hvr-sweep-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#top-navigation .ident .vc-name .name .name-pdf {
    background: rgba(0, 0, 0, 0.1);
    min-height: 120px;
    text-align: center;
}
#top-navigation .ident .vc-name .position .pdf {
    background: rgba(0, 0, 0, 0.25);
    min-height: 120px;
    text-align: center;
}
.sticky .bty-responsive-tab-1{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky .vc-photo{
    display: none;
}

/*Responsive Tab*/

.bty-responsive-tab-1 {
    position: relative;
    min-width: 250px;
    display: flex;
}

.bty-responsive-tab-1 a {
    padding: 0px 30px;
}

.bty-responsive-tab-1 button {
    position: relative;
    /* height: 100%; */
    /* right: 0; */
    order: 2;
    /* padding: 0 15px; */
    border: 0;
    outline: none;
    background-color: #499bc7;
    color: #fff;
    cursor: pointer;
    /*flex: 1;*/
    flex: auto;
}

.bty-responsive-tab-1 button:hover {
    background-color: #499bc7;
}

.bty-responsive-tab-1 button::after {
    content: attr(count);
    position: absolute;
    width: 30px;
    height: 30px;
    left: -16px;
    top: 12px;
    text-align: center;
    background-color: #326b8a;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    border-radius: 50%;
    border: 3px solid #fff;
    font-weight: bold;
}

.bty-responsive-tab-1 button:hover::after {
    transform: scale(1.075);
}

.bty-responsive-tab-1 button > div {
    position: relative;
    width: 32px;
    height: 4px;
    background: #fff;
    margin: auto;
}

.bty-responsive-tab-1 button > div:before,
.bty-responsive-tab-1 button > div:after {
    content: '';
    position: absolute;
    left: 0;
    width: 32px;
    height: 4px;
    background: #fff;
}

.bty-responsive-tab-1 button > div:before {
    top: -8px;
}

.bty-responsive-tab-1 button > div:after {
    bottom: -8px;
}

.bty-responsive-tab-1 > ul:nth-of-type(2) {
    position: absolute;
    right: 0;
    top: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.bty-responsive-tab-1 > ul:nth-of-type(2) li {
    display: block;
}


.bty-responsive-tab-1 > ul:nth-of-type(1) li:first-child a {
}

.bty-responsive-tab-1 .hidden {
    visibility: hidden;
}

.bty-responsive-tab-1 > ul:nth-of-type(1) li:after {
    content: "";
    clear: both;

}

.bty-responsive-tab-1 > ul:nth-of-type(1) li.active:before, .bty-responsive-tab-1 > ul:nth-of-type(1) li:hover:before {
    content: "";
    bottom: 0;
    z-index: -1;
    /*height: 120%;*/
    -webkit-transform: perspective(5px) rotateX(2deg);
    -webkit-transform-origin: bottom;
    -moz-transform: perspective(5px) rotateX(2deg);
    -moz-transform-origin: bottom;
    transform: perspective(5px) rotateX(2deg);
    transform-origin: bottom;
    background-color: #499bc7;
    width: 100%;
    position: absolute;
    border-radius: 5px 5px 0 0;
}
.bty-responsive-tab-1 > ul:nth-of-type(1) li.active a, .bty-responsive-tab-1 > ul:nth-of-type(1) li:hover a{
    color: white !important;
}
.bty-responsive-tab-1 > ul:nth-of-type(1) li {
    position: relative;
    left: 0;
    bottom: 0;
}

.bty-responsive-tab-1 > ul:nth-of-type(2) a{
    background-color: #499bc7;
    color: white;

}
.bty-responsive-tab-1 > ul:nth-of-type(2) li:hover a{
    background-color: #37789b;
}
.custom_div{

}
.custom_ul{
    position: absolute;
    right: 0;
}
.custom_ul a{
    padding: 15px 30px;
}
.cd-side-navigation{
    flex: 1;
}
.sticky .custom_div{
    flex: 1;
}
.sticky .bty-responsive-tab-1 button{
    flex: 0
}
.sticky .cd-side-navigation .menuitem{
    flex: auto;
}
.section-felic-factors .section-title {
    display: block;
    margin-bottom: 80px;
}
.section-felic-factors .section-title .title {
    font-size: 36px;
    font-weight: 800;
    line-height: 46px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #414141;
}
.section-felic-factors .section-title .separator {
    position: relative;
}

.section-felic-factors .separator:before {
    position: absolute;
    bottom: -12px;
    left: 50%;
    width: 50px;
    height: 1px;
    margin-left: -25px;
    content: '';
    background: #757575;
}
.section-felic-factors .separator:after {
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 40px;
    height: 1px;
    margin-left: -20px;
    content: '';
    background: #757575;
}
.section-felic-factors .section-title .sub-title {
    font-size: 16px;
    line-height: 30px;
    margin-top: 30px;
    color: #757575;
}
@media (max-width: 568px){
    .section-felic-factors .section-title .title {
        font-size: 26px;
        line-height: 36px;
    }
    .section-felic-factors .section-title{
        margin-bottom: 50px;
    }
}
.section-felic-factors .fun-separator {
    padding: 3rem;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
}
.section-felic-factors .fun-box .value {
    font-size: 36px;
    font-weight: 600;
}
.section-felic-factors .fun-box .title {
    font-size: 12px;
}
.section-felic-factors .fun-separator-blue {
    border-color: #33b3ee;
}
.section-felic-factors .fun-separator-red {
    border-color: #fc4848;
}
.section-felic-factors .fun-separator-green {
    border-color: #6ead02;
}
.section-felic-factors .fun-separator-yellow {
    border-color: #f8b42f;
}
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""]{max-height:0}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }


.section-felic-works .main-title {
    display: block;
    margin-bottom: 80px;
}
.section-felic-works .main-title .title {
    font-size: 36px;
    font-weight: 800;
    line-height: 46px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #414141;
}
.section-felic-works .main-title .separator {
    position: relative;
}

.section-felic-works .separator:before {
    position: absolute;
    bottom: -12px;
    left: 50%;
    width: 50px;
    height: 1px;
    margin-left: -25px;
    content: '';
    background: #757575;
}
.section-felic-works .separator:after {
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 40px;
    height: 1px;
    margin-left: -20px;
    content: '';
    background: #757575;
}
.section-felic-works .main-title .sub-title {
    font-size: 16px;
    line-height: 30px;
    margin-top: 30px;
    color: #757575;
}
@media (max-width: 568px){
    .section-felic-works .main-title .title {
        font-size: 26px;
        line-height: 36px;
    }
    .section-felic-works .main-title{
        margin-bottom: 50px;
    }
}
.section-felic-works .portfolio-filter {
    margin: 0;
    padding: 0;
    list-style: none;
}
.section-felic-works .portfolio-filter li {
    display: inline-block;
}
.section-felic-works .portfolio-filter li a {
    font-size: 12px;
    margin: 0 1rem;
    padding: 1rem 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #acacac;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
}
.section-felic-works a{
    -webkit-transition: all .3s;
    transition: all .3s;
    outline: none;
    text-decoration: none;
}
.section-felic-works .portfolio-filter li a:hover, .portfolio-filter li.active a, .f-link li a:hover, .f-link li.active a {
    padding: 1rem 2rem;
    color: #fff;
    border: 1px solid #fc4848;
    background: #fc4848;
}
.section-felic-works .portfolio {
    margin: 50px 0 0 0;
}
.section-felic-works .portfolio > [class*="col-"] {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
}
.section-felic-works .portfolio .portfolio-item .thumb {
    position: relative;
    display: block;
}
.section-felic-works .portfolio .portfolio-item .thumb img {
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.section-felic-works .portfolio-hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin: 0;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    opacity: 0;
    background-color: rgba(0, 0, 0, .8);
}
.section-felic-works .portfolio-hover .portfolio-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10%;
    -webkit-transition: all .3s .2s;
    transition: all .3s .2s;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    opacity: 0;
    color: #fff;
}
.section-felic-works .portfolio-description h4 {
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.3;
    color: white;
}
.section-felic-works .portfolio-description p {
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 0;
    color: #fff;
}
.section-felic-works .portfolio-item:hover .portfolio-hover, .section-felic-works .portfolio-item:hover .portfolio-hover .portfolio-description, .section-felic-works .portfolio-item:hover .portfolio-hover .action-btn {
    opacity: 1;
}
.section-felic-works .portfolio-item:hover .portfolio-hover .portfolio-description {
    top: 50%;
}
.section-felic-works .isotope-item {
    z-index: 2;
}

.section-felic-works .isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.section-felic-works .isotope,
.section-felic-works .isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.section-felic-works .isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.section-felic-works .isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    -ms-transition-property:     -ms-transform, opacity;
    -o-transition-property:      -o-transform, opacity;
    transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.section-felic-works .isotope.no-transition,
.section-felic-works .isotope.no-transition .isotope-item,
.section-felic-works .isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
/*about*/
.section-felic-about{
    padding:100px 0;
}
.section-felic-about .main-title {
    display: block;
    margin-bottom: 80px;
}
.section-felic-about .main-title .title {
    font-size: 36px;
    font-weight: 800;
    line-height: 46px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #414141;
}
.section-felic-about .main-title .separator {
    position: relative;
}

.section-felic-about .separator:before {
    position: absolute;
    bottom: -12px;
    left: 50%;
    width: 50px;
    height: 1px;
    margin-left: -25px;
    content: '';
    background: #757575;
}
.section-felic-about .separator:after {
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 40px;
    height: 1px;
    margin-left: -20px;
    content: '';
    background: #757575;
}
.section-felic-about .main-title .sub-title {
    font-size: 16px;
    line-height: 30px;
    margin-top: 30px;
    color: #757575;
}
.section-felic-about .services-list {
    margin-bottom: 80px;
}
.section-felic-about .services-list .services-icon {
    float: left;
    margin-bottom: 35px;
    padding-right: 3rem;
}
.section-felic-about .text-primary {
    color: #905fd3;
}
.section-felic-about .services-list .services-icon i {
    font-size: 42px;
    position: relative;
    top: 0;
}
.section-felic-about .services-list .services-desk {
    display: inherit;
    overflow: hidden;
}
.section-felic-about .services-list .services-title {
    margin-top: 0;
    margin-bottom: 2rem;
    line-height: 1.3;
    color: #414141;
}
.section-felic-about .services-list .services-info {
    line-height: 30px;
    color: #919191;
    margin-bottom: 40px;
    font-size: 16px;
}
.section-felic-about .text-success {
    color: #6bbb30;
}
@media (max-width: 568px){
    .section-felic-about .main-title .title {
        font-size: 26px;
        line-height: 36px;
    }
    .section-felic-about .main-title{
        margin-bottom: 50px;
    }
}
/*testimonials*/
.section-felic-testimonial{
    padding:100px 0;
}
.section-felic-testimonial .main-title {
    display: block;
    margin-bottom: 80px;
}
.section-felic-testimonial .main-title .title {
    font-size: 36px;
    font-weight: 800;
    line-height: 46px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #414141;
}
.section-felic-testimonial .main-title .separator {
    position: relative;
}

.section-felic-testimonial .separator:before {
    position: absolute;
    bottom: -12px;
    left: 50%;
    width: 50px;
    height: 1px;
    margin-left: -25px;
    content: '';
    background: #757575;
}
.section-felic-testimonial .separator:after {
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 40px;
    height: 1px;
    margin-left: -20px;
    content: '';
    background: #757575;
}
.section-felic-testimonial .main-title .sub-title {
    font-size: 16px;
    line-height: 30px;
    margin-top: 30px;
    color: #757575;
}
@media (max-width: 568px){
    .section-felic-testimonial .main-title .title {
        font-size: 26px;
        line-height: 36px;
    }
    .section-felic-testimonial .main-title{
        margin-bottom: 50px;
    }
}
.section-felic-testimonial .testimonial-wrapper .item {
    padding: 30px;
}
.section-felic-testimonial .testimonial-wrapper .thumb {
    display: inline-block;
    overflow: hidden;
    width: 90px;
    height: 90px;
    margin-bottom: 3rem;
    border-radius: 50%;
}
.section-felic-testimonial .testimonial-wrapper .thumb img {
    display: block;
    max-width: 100%;
    height: auto;
}
.section-felic-testimonial .testimonial-wrapper .testimonial-text {
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
    margin-bottom: 40px;
    color: #757575;
}
.section-felic-testimonial .testimonial-author span{
    font-weight: bold;
    line-height: 1.3;
    font-size: 14px;
}
.section-felic-testimonial .testimonial-wrapper.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0;
}
.section-felic-testimonial .testimonial-wrapper.owl-theme .owl-dots .owl-dot.active span, .section-felic-testimonial .testimonial-wrapper.owl-theme .owl-dots .owl-dot:hover span {
    background: #adadad;
}

h1, h2, h3, h4, h5, h6 {
    color: #30323A;
    margin: 0 0 10px;
    font-weight: 700;
}

a {
    color: #30323A;
    -webkit-transition: 0.3s color;
    transition: 0.3s color;
}

a:hover, a:focus {
    color: #da521e;
    text-decoration: none;
    outline: none;
}

.primary-color {
    color: #da521e;
}

.white-color {
    color: #FFF;
}

.font-weak {
    font-weight: 400;
}

strong {
    color: #30323A;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border-color: #DADADA;
}

/*----------------------------*\
	Buttons
\*----------------------------*/

.main-btn, .primary-btn {
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.icon-btn.main-btn, .icon-btn.primary-btn {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0;
    border: none;
}

.main-btn {
    color: #30323A;
    background-color: #FFF;
    -webkit-box-shadow: 0 0 0 1px #DADADA inset, 0 0 0 6px transparent;
    box-shadow: 0 0 0 1px #DADADA inset, 0 0 0 6px transparent;
}

.main-btn:hover, .main-btn:focus {
    color: #499bc7;
    -webkit-box-shadow: 0 0 0 1px #da521e inset, 0 0 0 0 #da521e;
    box-shadow: 0 0 0 1px #da521e inset, 0 0 0 0 #da521e;
}

.primary-btn {
    color: #FFF;
    background-color: #da521e;
}

.primary-btn:hover, .primary-btn:focus {
    color: #FFF;
    background-color: #30323A;
}

/*----------------------------*\
	Inputs
\*----------------------------*/

.input {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    border: none;
    background-color: transparent;
    -webkit-box-shadow: 0 0 0 1px #DADADA inset, 0 0 0 5px transparent;
    box-shadow: 0 0 0 1px #DADADA inset, 0 0 0 5px transparent;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.input:focus {
    -webkit-box-shadow: 0 0 0 1px #da521e inset, 0 0 0 0 #da521e;
    box-shadow: 0 0 0 1px #da521e inset, 0 0 0 0 #da521e;
}

textarea.input {
    padding: 15px;
}

.input-checkbox .caption {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 0.3s max-height;
    transition: 0.3s max-height;
}

.input-checkbox>label {
    color: #30323A;
}

.input-checkbox input[type="checkbox"]:checked+label+.caption, .input-checkbox input[type="radio"]:checked+label+.caption {
    max-height: 800px;
}

/*----------------------------*\
	Lists
\*----------------------------*/

.list-links .list-links-title {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 16px;
}

.list-links li>a {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    padding: 2px 0;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.list-links li>a:before {
    content: "\f105";
    position: absolute;
    left: 0;
    font-family: FontAwesome;
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.list-links li>a:hover, .list-links li>a:focus, .list-links li.active>a {
    color: #da521e;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.list-links li>a:hover:before, .list-links li>a:focus:before, .list-links li.active>a:before {
    opacity: 1;
    visibility: visible;
}

/*----------------------------*\
	Sections
\*----------------------------*/

.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-grey {
    background: #F6F7F8;
}

.section-title {
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
    border-bottom: 1px solid #DADADA;
}

.section-title .title {
    display: inline-block;
    text-transform: uppercase;
}

.section-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.5px;
    height: 3px;
    width: 60px;
    background-color: #da521e;
}
/*=========================================================
	10 -> FOOTER
===========================================================*/

.footer {
    margin: 15px 0;
}

.footer .footer-header {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo .logo {
    display: inline-block;
}

.footer-logo .logo>img {
    width: 100%;
    max-height: 70px;
}

.footer-social>li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 6px;
}

.footer-social>li:last-child {
    margin-right: 0;
}

.footer-copyright {
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 14px;
}
.section-grey div.banner-1 img{
    height: 563px;
    object-fit: cover;
}
.section-grey a.banner-1 img{
    height: 270px;
    object-fit: cover;
}
.product.product-single .product-thumb>img{
    height: 345px;
    object-fit: cover;
}
.section .new-collect{
    height: 438px;
    object-fit: cover;
}
.section.head-collection img{
    height: 260px;
    object-fit: cover;
}
#home-slick .slick-slide img{
    height: 490px;
    object-fit: cover;
}
#product-slick-1 img{
    height: 353px;
    object-fit: cover;
    width: 100%;
}
.section .product.product-single .product-thumb img{
    height: 350px;
    object-fit: cover;
}
.menu-nav .custom-menu img{
    height: 121px;
    object-fit: cover;
}
.category-nav .custom-menu .banner-1 img{
    height: 181px;
    object-fit: cover;
}
.category-nav .custom-menu .banner-2 img{
    height: 329px;
    object-fit: cover;
}
footer.section-grey{
    margin-top: auto;
}
