.profile-left-menu a{
    text-decoration: none;
}
.profile-left-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.profile-left-menu .profile-img img{
    width:100%;
    height: 300px;
    object-fit: cover;
}
.profile-left-menu .menu{
    background-color: orange;
    height:100%;
}
.profile-left-menu {
    display: flex;
    flex-direction: column;
    height:100%;
}
.profile-left-menu .menu li a{
    display: block;
    padding: 15px;
    text-align: center;
    background-color: orange;
    color: white;
    border-bottom: 1px solid #ffffff;
    transition: 0.5s ease;
    font-size: 18px;
    font-weight: bold;
}
.profile-left-menu .menu li a:hover{
    background-color: #d28900;
}